* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main#wrapper {
  max-width: 1440px;
  margin-inline: auto;
}

a {
  border: 1px solid black;
  font-size: 3rem;
}

article {
  /* make element become a inline element and flow by position */
  float: right;
  border: 1px solid black;
}
