* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
a {
  width: 50%;
  margin: 20px;
  padding: 30px;
  border: 2px solid #000;
  /* outline: 1px solid blue; */
}

.to-inline {
  display: inline;
}

.to-block {
  display: block;
}
